
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js"></script>
<script src="http://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.1/tinymce.min.js"></script><script src="ace/ext-language_tools.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>



<title>StoryCode</title>
<!-- add two colum bootstrap -->
<style type="text/css" media="screen">
    #editor {
        width: 100%;
        height: 100%;
    }
    #log{
        position: absolute;
        top: 1%;
       }  
       
   
    #texted {
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    
}
.container{
   
    }
textarea#log {
    width:100%;

    display:block;
    max-width:100%;
    line-height:1.5;
  
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(241, 241,241);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 1px solid #ccc;
}
.sidebar{
 
   
   
   
  
   
}
.sidenav button {
   
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav button:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
   
}
.main2 {
    width: 100%;
    height: 100%;
}
.main {
    transition: margin-left .5s;
    padding: ;
}

@media screen and (max-height: 100%) {
  .sidenav {padding-top: 1px;}
  .sidenav a {font-size: 18px;}
}
.subject {
    float: left;
    max-width: 60%;
    max-height: 0;
    overflow: hidden;
    transition: max-width 0s;
    background: #fafafa;

}

.topic {
    float: left;
    padding-left: 0%;
    max-height: 0;
    overflow: hidden;
    transition: max-width 0s;
    background: #fafafa;


}
ul.active {
    float: left;
    max-width: 100%;
    max-height: 100%;
    transition: max-width 1s 0.1s;
}
button {
    overflow: hidden;
    white-space: nowrap;
}

body
{
   overflow-y: auto;
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: ;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    float: left;

    
    width: 100%;
    height: 100%;
}
</style>

<body>

{% include 'userprofile.html' %}

<div id="mySidenav" class="sidenav container-fluid  " style="padding-top: 100px">
   <div class="row">
   <div class=" sidebar col-md-3">
            
            <ul class="nav nav-sidebar main ">
                 <center><h3>Notebooks</h3></center>
                <button class="active"><a href="#subject1">Notebook 1</a></button>
                <button><a href="#subject2">Notebook 2</a></button>
                <button><a href="#subject3">Notebook 3</a></button>
            </ul>
   </div>
   <div class=" sidebar col-md-6 ">
            
           <ul id="subject1" class="nav nav-sidebar subject ">
            <center><h3>Sections</h3></center>
                <button ><a href="#topic1">Notebook1 subject A1</a></button>
                <button><a href="#topic2">Notebook1 subject b1</a></button>
                <button><a href="#topic3">Notebook1 subject c1</a></button>
            </ul>
            <ul id="subject2" class="nav nav-sidebar subject ">
            <center><h3>Sections</h3></center>
                <button ><a href="#topic4">Notebook2 subject A2</a></button>
                <button><a href="#topic5">Notebook2 subject b2</a></button>
                <button><a href="#topic6">Notebook2 subject c2</a></button>
            </ul>
            <ul id="subject3" class="nav nav-sidebar subject ">
            <center><h3>Sections</h3></center>
                <button ><a href="#topic7">Notebook3 subject A3</a></button>
                <button><a href="#topic8">Notebook3 subject b3</a></button>
                <button><a href="#topic9">Notebook3 subject c3</a></button>
            </ul>
    </div>
   

    
    </div>

</div>    
<div class="row">
    <div style="padding-top:50px;padding-left: 50px; position:absolute; z-index: 1001; font-size:30px;cursor:pointer; float:left" onclick="openNav()">&#8702; </div>
    <br>
    <div style="padding-top:50px;padding-left: 50px; position:absolute; z-index: 1000; font-size:30px;cursor:pointer; float:right" onclick="closeNav()">&#8701;</div>
    
    
    
    </div>
             <div id="main2" class="col-md-12">
            
                  
<div class="row  " >
   
 <div class="col-md-2" >
                          <ul id="topic1" class="nav nav-sidebar topic tab  col-md-6"style="padding-top:19%" >
                        <center><h3>Pages</h3></center>
                        <br>
                        <br>
                        <br>
                        {% block content %}

                        {% for mongo in mongos %}
    
                          
                         <button class="tablinks" onclick="openCity(event, 'topic {{mongo.ID}}')" >topic {{mongo.ID}}<br> {{mongo.SUBJECT}}  </button>
                         

   
    
                        {% endfor %}
     
                       
                            

                        </ul>
                      <ul id="topic2" class="nav nav-sidebar topic tab col-md-6">
                           <center><h3>Pages</h3></center>
                          <button class="tablinks" onclick="openCity(event, 'topic 2_1')" >Topic 2.1</button>
                            <button class="tablinks" onclick="openCity(event, 'topic 2_2')">Topic 2.2</button>
                            <button class="tablinks" onclick="openCity(event, 'topic 2_3')">Topic 2.3</button>
                            
                        </ul>
             
                        <ul id="topic3" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 3.1</a></li>
                            <li><a href="#" onclick="return false;">topic 3.2</a></li>
                            <li><a href="#" onclick="return false;">topic 3.3</a></li>
                            <li><a href="#" onclick="return false;">topic 3.4</a></li>
                            <li><a href="#" onclick="return false;">topic 3.5</a></li>
                        </ul>
                         <ul id="topic4" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 4.1</a></li>
                            <li><a href="#" onclick="return false;">topic 4.2</a></li>
                            <li><a href="#" onclick="return false;">topic 4.3</a></li>
                            <li><a href="#" onclick="return false;">topic 4.4</a></li>
                            <li><a href="#" onclick="return false;">topic 4.5</a></li>
                        </ul>
                         <ul id="topic5" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 5.1</a></li>
                            <li><a href="#" onclick="return false;">topic 5.2</a></li>
                            <li><a href="#" onclick="return false;">topic 5.3</a></li>
                            <li><a href="#" onclick="return false;">topic 5.4</a></li>
                            <li><a href="#" onclick="return false;">topic 5.5</a></li>
                        </ul>
                         <ul id="topic6" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 6.1</a></li>
                            <li><a href="#" onclick="return false;">topic 6.2</a></li>
                            <li><a href="#" onclick="return false;">topic 6.3</a></li>
                            <li><a href="#" onclick="return false;">topic 6.4</a></li>
                            <li><a href="#" onclick="return false;">topic 6.5</a></li>
                        </ul>
                         <ul id="topic7" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 7.1</a></li>
                            <li><a href="#" onclick="return false;">topic 7.2</a></li>
                            <li><a href="#" onclick="return false;">topic 7.3</a></li>
                            <li><a href="#" onclick="return false;">topic 7.4</a></li>
                            <li><a href="#" onclick="return false;">topic 7.5</a></li>
                        </ul>
                         <ul id="topic8" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 8.1</a></li>
                            <li><a href="#" onclick="return false;">topic 8.2</a></li>
                            <li><a href="#" onclick="return false;">topic 8.3</a></li>
                            <li><a href="#" onclick="return false;">topic 8.4</a></li>
                            <li><a href="#" onclick="return false;">topic 8.5</a></li>
                        </ul>
                        <ul id="topic9" class="nav nav-sidebar topic">
                            <li><a href="#" onclick="return false;">topic 9.1</a></li>
                            <li><a href="#" onclick="return false;">topic 9.2</a></li>
                            <li><a href="#" onclick="return false;">topic 9.3</a></li>
                            <li><a href="#" onclick="return false;">topic 9.4</a></li>
                            <li><a href="#" onclick="return false;">topic 9.5</a></li>
                        </ul>
</div>
 <div class="col-md-10 " style="padding-top: 10px;">
                               
       
    {% for Mongo in Mongos %}

    <div id="topic {{Mongo.ID}}" class="tabcontent ">
        <h3>{{Mongo.SUBJECT}} </h3>
        

<div class="row">
<div class="container col-sm-6">
        <script async="" src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js"></script>
        <script async="" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
        <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
        <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/597b6cd0207ce408a6d34890b5b2826b13450714/demo/demo.js"></script>
    
<div class="{{Mongo.ID}}" id="editor" >var x = "hello world";
function hello() {
console.log(x);
  
}


 </div> 

</div>
<div class="col-sm-6 " style="padding-top: 0%" >
<textarea rows="400" cols="50" id="log{{Mongo.ID}}" > 
<h1>name: {} </h1>
<br>
<br>


<br>
<br>
<b>id:</b> {}
<br>

<br>
<b>num_of_topics:</b> {}
<br>

<br>
<b>num_of_tasks:</b> {}
<br>

<br>
<b>num_of_steps:</b> {}

<br>
<br>
<h2>image test:</h2><img src="" alt="Trulli" width="500" height="333">
<h2>video test:</h2><iframe width="560" height="315" src="" frameborder="0"" ></iframe> 
<br>
  
<br>
<b>number_of_roles:</b> {}
<br>
<br>
<br>
 <b>description:</b> {}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{}
<h2>Topic: {}</h2>
id: {} 
<br>
<br>

<b>num_of_Tasks:</b> {}
<br>
<br>

<b>num_of_steps:</b>{}
<br>
<br>

<b>num_of_images:</b>
<br>

<br>
<br>
       <a href="/production/topics/{}/tasks/{}/"> Click to see All Tasks</a>
{}
</textarea>


</div>

                                        
                               
                            </div>
                            
                                        </div>
                                        <script type="application/x-javascript">

                                            tinyMCE.init({
                                                selector:'#log{{Mongo.ID}}',
                                                height : "100%",
                                                 plugins: "template media image fullscreen",
                                                    media_live_embeds: true,
                                                    media_alt_source: false,
                                              toolbar: "template media image fullscreen",
                                                templates: [
                                                { title: 'JavaScript Loop Template', content: "\
                                                var i;"+" for (i = 0; i < cars.length; i++){text += cars[i] + 1 ;}" },
                                                { title: 'Test template 2', content: 'Test 2' },
                                                { title:  '{}', content: '<div class="ytp-cued-thumbnail-overlay-image" style="background-image: url(&quot;https://i.ytimg.com/vi/lCHSRSmFZFU/maxresdefault.jpg&quot;);"></div>'}]
                                            });
                                            
                                            </script>
                                            <script>
                                                tinymce.PluginManager.add('test', function(editor, url) {
                                                editor.addButton('test', {
                                                    text: 'Test',
                                                    icon: true,
                                                    onclick: function() {
                                                        editor.insertContent('This is inserted');
                                                    }
                                                });
                                            });
                                                </script>
                                               
                                            <script>
                                                var editor = ace.edit('editor');
                                               
                                                editor.session.setMode("ace/mode/java");
                                                editor.setTheme("ace/theme/tomorrow");
                                                // enable autocompletion and snippets
                                                editor.setOptions({
                                                    enableBasicAutocompletion: true,
                                                    enableSnippets: true
                                                });
                                            </script>
                                        {% endfor %}

                                        {% endblock %}
                
</div>
                    </div></div>


    
</div>
</body>
<script>
$(function () {
    $(".main").on("click", "a", function () {
        $(".subject").removeClass("active");
        $($(this).attr("href")).addClass("active");
       
    });
});
$(function () {
    $(".subject").on("click", "a", function () {
        $(".topic").removeClass("active");
        $($(this).attr("href")).addClass("active");
       
    });
});
</script>     

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "175px";
    document.getElementById("main2").style.marginLeft = "160px";
    x = "open";
}
</script>
<script>
function closeNav() {
  
  
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main2").style.marginLeft= "0";
  

   
}
</script>

 <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<script>
  $(document).ready(function(){
if($(".tablinks") != "active"){
    $(".tabcontent").hide();
    $(".tabcontent2").hide();
}
else{

        $(".tabcontent").show();
        $(".tabcontent2").show();
}
   
});
</script>


  


</div>

<div>


