
   <center><b>SPRINT 2. CRUD THIS LIST OF REPORTS FROM CONSOLE APP</b></center>
  <h2>Saved Reports</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">id#</th>
      <th scope="col">past case by keywords</th>
      <th scope="col">past cases with jira tickets</th>
      <th scope="col">Total count of unique tickets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
         <td><input type = "file" name = "file" /><input type = "submit"/></td>
        
      
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td>24</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td>254</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td><a href='/uploader'/>{Enter file location here}</td>
      <td>100</td>
    </tr>
    </form>
  </tbody>
</table>

