
<div class="col-lg-12 ">
    <h1>Sales Model Section</h1>
<div class="jumbotron" style="height: 60%">
<div class="col-lg-3">
<div class="panel panel-green">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3"><i class="fa fa-tasks fa-5x"></i></div>
<div class="col-xs-9 text-right">
<div class="huge">Sales Goals</div>
 
<div>Average Subscription goals per mounth </div>
</div>
</div>
</div><a href="#">
<div class="panel-footer"><span class="pull-left">
Lifetime value (LTV) per month:
<br>
Number of up-sales:
<br>
Number of cross-sells:
<br>
number of New users a month:
<br>
User Churn:



 </span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div></a>
</div>
</div>






<div class="col-lg-3 ">
<div class="panel panel-yellow">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3"><i class="fa fa-shopping-cart fa-5x"></i></div>
<div class="col-xs-9 text-right">
<div class="huge">124</div>
<div>Sales Goals</div>
</div>
</div>
</div><a href="#">
<div class="panel-footer"><span class="pull-left">View Details</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div></a>
</div>
</div>




<div class="col-lg-3">
<div class="panel panel-red">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3"><i class="fa fa-support fa-5x"></i></div>
<div class="col-xs-9 text-right">
<div class="huge">13</div>
<div>Change in Number of Workflow Case from Last Week</div>
</div>
</div>
</div><a href="#">
<div class="panel-footer"><span class="pull-left">View Details</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div></a>
</div>
</div>
</div>
</div>

<!-- /.row-->
<br>