 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  
</head>

<title>Salmon Cookies</title>
 <form method="GET" id="my_form"></form>



<table>
    <tr>
        <td>
            <input type="text" name="company" form="my_form" />
            <button type="button" form="my_form">ok</button>
        </td>
    </tr>
</table>



<body>
  <div class = "salmonPicture">
    <img src="img/salmon.png" />
    <p class ='siteTitle'> Pat's Salmon Cookies</p>
  </div>
  
  <div class = "mainContent" >
  <section>
     <table>
       <thead>
         <tr>
           <!-- this needs to take in td for-->
         </tr>
          <!-- this needs to take in td from one store-->
       </thead>
       <tbody>        
          <!--this needs to be where new table rows (tr) are created 
         and then populated with table data (td)-->
        </tbody>
        <form action = "">
          <p>Store Name</p>
          <input type = "text" name ="store name"/>
        </form>
       
     </table>
  </section> 
  </div>

  </body>
<script src="sales.js"></script>
</html>