
<!-- Include the above in your HEAD tag -->

<div class="container">
    <div class="row">
    </div>

    <div class="row">
        <div class="col-md-10">
        
            <div class="table-responsive">
            
                <table class="table table-sm table-hover">
                  <thead class="thead-default">
                  
                    <tr class="add-category-row">
                      <th style="width: 30px;">
                        <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                            <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                        </button> 
                      </th>
                      
                      
                      <th colspan="2">Add Checklist Item</th>
                      
                      <th style="width: 70px;"></th>
                    </tr>
                </thead>

                <tbody>

                  
                   <tr class="category-row">
                      <th style="width: 30px;">
                        <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                            <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                        </button> 
                      </th>
                      
                      <th style="width: 30px;">
                            <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button> 
                        </th>
                      
                      <th style="text-align: center;">Checklist1: Projects from CRM</th>
                      
                      <th style="text-align: right;">
                            <button class="btn-view-fund btn btn-default btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button> 
                      </th>
                    </tr>
                   {% block body %}
                        {% for project in projects  %}
                    <tr>

                                  

                        <td>
                            <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>    
                        </td>
                       

                        <td colspan="20" class="tooltip-test" title="{{project.PROJECT_DETAILS}}"><b>{{project.PROJECT_NAME}}</b></td>
                        <td style="text-align: right;">
                            <button class="btn-view-fund btn btn-default btn-xs" type="button">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button> 
                            <button class="btn-view-fund btn btn-default btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>     
                        </td>
                    </tr>
                    {% endfor %}
                       
                    
 
<!-- Questions Section -->
 
                        {% for task in tasks %}
                    <tr class="success">
                        <td colspan="4">
                             <button class="btn-view-fund btn btn-default btn-xs" type="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Issue
                            </button>     
                        </td>
                    </tr>

                    <tr class="warning">
                        <td colspan="3">
                            <div class="row q_row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-9">
                                    <span>{{task.TITLE}}</span>
                                </div>
                               
                                <div class="col-lg-2">
                                    <div class="btn-group pull-right" role="group" aria-label="...">
                                      <button type="button" class="btn btn-danger btn-xs">Good</button>
                                      <button type="button" class="btn btn-default  btn-xs">UA</button>
                                    </div>
                                </div>
                            
                                
                            </div>
                        </td>
                       {% endfor %}
                        {% endblock %}
                  
<!-- end question section -->
               

                 
                   <tr class="category-row">
                      <th style="width: 30px;">
                        <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                            <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                        </button> 
                      </th>
                      
                      <th style="width: 30px;">
                            <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button> 
                        </th>
                      
                      <th style="text-align: center;">Checklist 2: SHUTDOWN PROCEDURE (IN EVENT OF VISIBLE OIL LEAKS)</th>
                      
                      <th style="text-align: right;">
                            <button class="btn-view-fund btn btn-default btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button> 
                      </th>
                    </tr>
                  
                    <tr>
                        <td>
                            <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>    
                        </td>

                  
                </tbody>
                </table>
    
            </div>
        </div>
    </div>    
        
    
</div>